<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.framework.modules.database.mapper.DataBaseMapper">
	<resultMap id="BaseResultMap"
		type="com.framework.modules.database.entity.Database">
		<id column="id" jdbcType="BIGINT" property="id" />
	</resultMap>
	
	<update id="createDatabase"
		parameterType="com.framework.modules.database.entity.Database">
		create database ${DBName} DEFAULT CHARACTER SET ${characterSetName} COLLATE
		${characterSetName}_bin
	</update>
	
</mapper>